In [3]:
# import tensorflow as tf
import os
import pandas as pd
import strym
from strym import strymread
import matplotlib.pyplot as plt
from pylab import rcParams
import strym.DBC_Read_Tools as dbc
import numpy as np
from strym import strymmap
# import keras
# from keras import layers, Model

In [14]:
data_path = 'data/2020-12-02-00-00-49_5FNYF6H05HB089022_CAN_Messages.csv'

In [15]:
r =strymread(csvfile=data_path)
r.speed()
# debug_num_samples = 100
# r = r.dataframe[:debug_num_samples]

[2021_06_28_16_05_03] (root) INFO: Vehicle model infered is honda-pilot-2017

                                       Time  Message
Clock
2020-12-02 00:00:49.909518080  1.606867e+09    62.12
2020-12-02 00:00:49.919707904  1.606867e+09    62.12
2020-12-02 00:00:49.929243136  1.606867e+09    62.12
2020-12-02 00:00:49.939488000  1.606867e+09    62.12
2020-12-02 00:00:49.949666048  1.606867e+09    62.06
...                                     ...      ...
2020-12-02 00:30:39.351697920  1.606869e+09    61.93
2020-12-02 00:30:39.361560064  1.606869e+09    61.93
2020-12-02 00:30:39.371644928  1.606869e+09    61.87
2020-12-02 00:30:39.381573888  1.606869e+09    61.87
2020-12-02 00:30:39.391308032  1.606869e+09    61.87

[187675 rows x 2 columns]

In [11]:
r.dataframe.describe()

               Time           Bus     MessageID  MessageLength
count  9.079239e+06  9.079239e+06  9.079239e+06   9.079239e+06
mean   1.606868e+09  1.000000e+00  5.267080e+02   6.842991e+00
std    5.165838e+02  9.263328e-01  2.962094e+02   1.823507e+00
min    1.606867e+09  0.000000e+00  5.700000e+01   1.000000e+00
25%    1.606868e+09  0.000000e+00  3.420000e+02   6.000000e+00
50%    1.606868e+09  1.000000e+00  4.220000e+02   8.000000e+00
75%    1.606869e+09  2.000000e+00  6.600000e+02   8.000000e+00
max    1.606869e+09  2.000000e+00  1.668000e+03   8.000000e+00

In [8]:
total_num_samples = r.size
num_train_samples = total_num_samples*9//10

features = ['Time', 'Bus', 'MessageID', 'Message', 'MessageLength']
labels = ['Time', 'Latitude', 'Longitude']
x_train_df = r[features][:]
y_train_df = r[labels][:]
x_test_df = r[features][:]
y_test_df = r[labels][:]

In [9]:
x_train = x_train_df.to_numpy()
y_train = y_train_df.to_numpy()
x_test = x_test_df.to_numpy()
y_test = y_test_df.to_numpy()

In [10]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(100, 5)
(100, 3)
(100, 5)
(100, 3)

-110.824048